{% extends 'main/layout.html' %}
{% block title %}Sur nous{% endblock %}
{% block content %}
    <h1 class="alert alert-danger" id="who">Qui sommes nous</h1>
    <div id="text">
        <p class="alert alert-warning" id="we">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestias magnam asperiores repellat possimus, provident sint, nostrum adipisci laudantium modi laboriosam deleniti dolor rerum quos iure minima voluptatem, fuga minus! Voluptate ea dicta sunt cupiditate numquam quod ex excepturi quisquam veritatis dolor nemo, consequatur praesentium non perferendis sit obcaecati aspernatur facilis ad tempore sint? Ducimus blanditiis veritatis deleniti reiciendis amet iure sapiente? Aspernatur eligendi fugit odit dicta perspiciatis deleniti iure, culpa adipisci temporibus facere magnam vitae, quas earum impedit. Sunt voluptatibus deserunt numquam quibusdam qui nesciunt eaque ipsa asperiores laboriosam aspernatur. Deleniti dolorum, iure voluptates optio consectetur nesciunt maiores sit fuga!</p>
    </div>


{% endblock %}