{% extends 'main/layout.html' %}
{% block title %}Les utilisateurs{% endblock %}
{% block content %}
<!-- user_list.html -->
{% if user.is_authenticated %}
    <div>
    {% for user in users %}
        <p class="alert alert-info users">{{ user.username }}</p>
    {% empty %}
        <p>Il n'y a aucun utilisateur inscrit sur le site</p>
    {% endfor %}
    </div>
{% else %}
    <p class="alert alert-danger" id="confiance" >Vous devez être connectés pour accéder à cette page</p>
    <a href="{% url 'login' %}" class="btn btn-success btn-style fone">Me connecter</a>
    <a href="{% url 'register' %}" class="btn btn-success btn-style fone">Je n'ai pas de compte</a>
{% endif %}

{% endblock %}